/* Variables */
:root {
	--bg-color: #352f5b;
}

body {
	background: var(--bg-color);
}

input[type='text'],
input[type='text']:focus {
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
}

#todos ul li {
	background: #423a6f;
}

.delete {
	cursor: pointer;
}

.delete:hover {
	transition: color 0.6s ease-in-out;
	color: red;
}
